In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
from modulos.calcular_assimetria_distribuicao import *

In [2]:
data = pd.read_csv('../clustering/Data.csv').drop('Unnamed: 0', axis = 1)
data.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6

In [17]:
calcular_assimetria_distribuicao(dados = data.Age, titulo = 'Distribuição de Idade')

Box-plot - Distribuição de Idade
----------------------------------------
Q1: 30.0
Q2: 40.0
Q3: 53.0
IQR: 23.0
Skewness: 0.6958911756958159
Limite Inferior: -4.5
Limite Superior: 103.50549704100376
Outliers: []

In [18]:
calcular_assimetria_distribuicao(dados = data[data['Family_Size'] > 0].Family_Size.astype(int), titulo = 'Distribuição de Family Size')

Box-plot - Distribuição de Family Size
----------------------------------------
Q1: 2.0
Q2: 3.0
Q3: 4.0
IQR: 2.0
Skewness: 1.010608130594487
Limite Inferior: -1.0
Limite Superior: 9.021216261188973
Outliers: []

In [21]:
calcular_assimetria_distribuicao([1, 2, 1, 4, 3, 2, 123, 2, 4, 5, 9, 15, 3, 2, 1253], titulo = 'teste')

Box-plot - teste
----------------------------------------
Q1: 2.0
Q2: 3.0
Q3: 7.0
IQR: 5.0
Skewness: 3.4222599730962213
Limite Inferior: -5.5
Limite Superior: 31.611299865481104
Outliers: [ 123 1253]