In [1]:
from modulos.sortear_amostra_aleatoria import *
import pandas as pd
from tqdm import tqdm

In [2]:
# seeds = sortear_amostra_aleatoria(min = 1, max = 100, n = 6, seed = 2026, repetir = False)
seeds = [2026, 850_000]
seeds

[2026, 850000]

In [3]:
for seed in seeds:
    jogo = sortear_amostra_aleatoria(min = 1, max = 60, n = 6, seed = seed, repetir = False)
    print(f"Seed = {seed} | Jogo = {jogo}")
    break

Seed = 2026 | Jogo = [7, 8, 21, 33, 42, 58]

## Qual seed gera os números da megasena?

In [4]:
numeros_sorteados = [21, 33, 9, 59, 32, 13]
print(sorted(numeros_sorteados))

[9, 13, 21, 32, 33, 59]

In [5]:
%%time
df_acertos = pd.DataFrame()

for seed in tqdm(range(200_000)):
    jogo = sortear_amostra_aleatoria(min = 1, max = 60, n = 6, seed = seed, repetir = False)
    qtd_acertos = len([i for i in jogo if i in numeros_sorteados])
    tmp = pd.DataFrame(data = {'seed':[seed], 'qtd_acertos':[qtd_acertos]})
    df_acertos = pd.concat([df_acertos, tmp])

df_acertos = df_acertos[df_acertos['qtd_acertos'] > 0]
print(f"Quantidade de seeds com pelo menos 1 acerto: {df_acertos.shape[0]}")
print(df_acertos['qtd_acertos'].value_counts())
df_acertos.sort_values(['qtd_acertos', 'seed'], ascending = [False, True]).head(10)

100%|██████████| 200000/200000 [38:19<00:00, 86.97it/s]

Quantidade de seeds com pelo menos 1 acerto: 97175
qtd_acertos
1    76101
2    19055
3     1926
4       91
5        2
Name: count, dtype: int64
CPU times: total: 9min 18s
Wall time: 38min 19s

     seed  qtd_acertos
0   11677            5
0  108388            5
0    1842            4
0    3132            4
0    3504            4
0    4315            4
0    6226            4
0    6963            4
0    9920            4
0   15144            4

In [7]:
seed_1 = sortear_amostra_aleatoria(min = 1, max = 60, n = 6, seed = 11677, repetir = False)
print(seed_1)
print(sorted(numeros_sorteados))

[13, 21, 32, 33, 49, 59]
[9, 13, 21, 32, 33, 59]

In [8]:
seed_2 = sortear_amostra_aleatoria(min = 1, max = 60, n = 6, seed = 108388, repetir = False)
print(seed_2)
print(sorted(numeros_sorteados))

[6, 9, 13, 32, 33, 59]
[9, 13, 21, 32, 33, 59]